<nav>
    <div id="header">All our Flats (<%= @flats.count %>)</div>
</nav>

<!--
<ol>
<% @flats.each do |flat| %>
<li>Name: <%= flat.name %>, Address: <%= flat.address %></li>
<% end %>
</ol>

<%= link_to  "Add a Flat", new_flat_path %>
-->