<h1>All our Flats (<%= @flats.count %>)</h1>

<ol>
<% @flats.each do |flat| %>
<li>Name: <%= flat.name %>, Address: <%= flat.address %></li>
<% end %>
</ol>

<%= link_to  "Add a Flat", new_flat_path %>
