// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

nav {
    width: 100vw;
    height: 60px;
    background-color: bisque;
    text-align: center;
}

#header {
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.cards {
    background-color: blue;
    width: 700px;
    height: 400px;
}

.card-category {
    height: auto;
}