// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*, ::before, ::after {
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav {
    width: 100vw;
    height: 60px;
    background-color: bisque;
    text-align: center;
}

nav:last-of-type {
    width: 100vw;
    height: 60px;
    text-align: center;
    background-color: lightblue;
    opacity: .7;
}

#header {
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.container {
    width: 500px;
    height: 400px;
    background-color: blueviolet;
    margin-top: 25px;
    font-weight: bold;
    opacity: .6;
}
